greenlet==3.5.5
numpy==2.5.2
pandas==3.0.5
polars==1.43.2
polars-runtime-32==1.43.2
psycopg2-binary==2.9.12
pyarrow==25.0.1
pyodbc==5.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
six==1.17.0
SQLAlchemy==2.0.52
typing_extensions==4.16.0
tzdata==2026.3
